<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction

Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones.

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage.

Therefore if we can determine if the first stage will land, we can determine the cost of a launch.

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

<a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01" target="_blank">Spacex DataSet</a>

**Navigate to the Go to UI screen**

*   Refer to this insruction in this <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sign%20up%20for%20IBM%20Cloud%20-%20Create%20Db2%20service%20instance%20-%20Get%20started%20with%20the%20Db2%20console/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">link</a> for viewing  the   Go to UI screen.

*   Later click on **Data link(below SQL)**  in the Go to UI screen  and click on **Load Data** tab.

*   Later browse for the downloaded spacex file.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/browsefile.png" width="800"/>

*   Once done select the schema andload the file.

 <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload3.png" width="800"/>

In [1]:
# !pip install sqlalchemy==1.3.9
# !pip install ibm_db_sa


# MySQL is used because of connection problems with Db2

!pip install mysql
!pip install ipython-sql

Requirement already satisfied: mysql in c:\users\niran.niranjan_gade\appdata\local\programs\python\python310\lib\site-packages (0.0.3)
Requirement already satisfied: mysqlclient in c:\users\niran.niranjan_gade\appdata\local\programs\python\python310\lib\site-packages (from mysql) (2.1.1)
Requirement already satisfied: ipython-sql in c:\users\niran.niranjan_gade\appdata\local\programs\python\python310\lib\site-packages (0.4.1)
Requirement already satisfied: six in c:\users\niran.niranjan_gade\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: prettytable<1 in c:\users\niran.niranjan_gade\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\niran.niranjan_gade\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (1.4.46)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\niran.niranjan_gade\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlparse in c:\users\niran.niranjan_gade\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (0.4.3)
Requirement already satisfied: ipython>=1.0 in c:\users\niran.niranjan_gade\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (8.5.0)
Requirement already satisfied: traitlets>=5 in c:\users\niran.niranjan_gade\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (5.4.0)
Requirement already satisfied: stack-data in c:\users\niran.niranjan_gade\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (0.5.1)
Requirement already satisfied: jedi>=0.16 in c:\users\niran.niranjan_gade\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: prompt-toolkit<3.1.0,>3.0.1 in c:\users\niran.niranjan_gade\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.31)
Requirement already satisfied: pygments>=2.4.0 in c:\users\niran.niranjan_gade\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (2.13.0)
Requirement already satisfied: backcall in c:\users\niran.niranjan_gade\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in c:\users\niran.niranjan_gade\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: colorama in c:\users\niran.niranjan_gade\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.5)
Requirement already satisfied: matplotlib-inline in c:\users\niran.niranjan_gade\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.6)
Requirement already satisfied: pickleshare in c:\users\niran.niranjan_gade\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\niran.niranjan_gade\appdata\local\programs\python\python310\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (2.0.1)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\niran.niranjan_gade\appdata\local\programs\python\python310\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\niran.niranjan_gade\appdata\local\programs\python\python310\lib\site-packages (from prompt-toolkit<3.1.0,>3.0.1->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: asttokens in c:\users\niran.niranjan_gade\appdata\local\programs\python\python310\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.0.8)
Requirement already satisfied: pure-eval in c:\users\niran.niranjan_gade\appdata\local\programs\python\python310\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)
Requirement already satisfied: executing in c:\users\niran.niranjan_gade\appdata\local\programs\python\python310\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (1.1.1)

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [2]:
import mysql.connector
import csv

In [3]:
%load_ext sql

**DB2 magic in case of old UI service credentials.**

In the next cell enter your db2 connection string. Recall you created Service Credentials for your Db2 instance before. From the **uri** field of your Db2 service credentials copy everything after db2:// (except the double quote at the end) and paste it in the cell below after ibm_db_sa://

<img src ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_edX/images/URI.jpg">

in the following format

**%sql ibm_db_sa://my-username:my-password\@my-hostname:my-port/my-db-name**

**DB2 magic in case of new UI service credentials.**

<img src ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/servicecredentials.png" width=600>  

*   Use the following format.

*   Add security=SSL at the end

**%sql ibm_db_sa://my-username:my-password\@my-hostname:my-port/my-db-name?security=SSL**

In [4]:
# %sql ibm_db_sa://qlq49143:1ZcmKElllRZWZZbD@9938aec0-8105-433e-8bf9-0fbb7e483086.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32459/bludb

In [5]:
mydb = mysql.connector.connect(
    host = 'localhost',
    username = 'root',
    password = 'root',
)

In [6]:
mycursor = mydb.cursor()

In [7]:
mycursor.execute("CREATE DATABASE spacex")

In [8]:
mycursor.execute("USE spacex")

In [9]:
mycursor.execute('''
            DROP TABLE IF EXISTS SpaceX;
            CREATE TABLE SpaceX
                (
                    Date DATE NULL,
                    Time TIME NULL,
                    BoosterVersion VARCHAR(50) NULL,
                    LaunchSite VARCHAR(50) NULL,
                    Payload VARCHAR(100) NULL,
                    PayloadMassKG INT NULL,
                    Orbit VARCHAR(50) NULL,
                    Customer VARCHAR(100) NULL,
                    MissionOutcome VARCHAR(50) NULL,
                    LandingOutcome VARCHAR(100) NULL
                );
            ''')

In [10]:
mycursor.close()

True

In [11]:
import pandas as pd
df = pd.read_csv('Spacex.csv', index_col=False)

In [12]:
mydb = mysql.connector.connect(
    host = 'localhost',
    username = 'root',
    password = 'root',
)

In [13]:
for i,row in df.iterrows():
    mycursor = mydb.cursor()
    mycursor.execute("USE spacex")    
    #here %S means string values 
    sql = "INSERT INTO SpaceX VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
    mycursor.execute(sql, tuple(row))
    # print("Record inserted")
    # the connection is not auto committed by default, so we must commit to save our changes
    mydb.commit()
    mycursor.close()

Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

### Task 1

##### Display the names of the unique launch sites  in the space mission

In [16]:
mydb = mysql.connector.connect(
    host = 'localhost',
    username = 'root',
    password = 'root',
)
mycursor = mydb.cursor()
mycursor.execute("USE spacex") 
mycursor.execute("SELECT DISTINCT LaunchSite FROM SpaceX")
results = mycursor.fetchall()
mycursor.close()

for res in results:
    print(res)

('CCAFS LC-40',)
('VAFB SLC-4E',)
('KSC LC-39A',)
('CCAFS SLC-40',)

### Task 2

##### Display 5 records where launch sites begin with the string 'CCA'

In [17]:
mydb = mysql.connector.connect(
    host = 'localhost',
    username = 'root',
    password = 'root',
)
mycursor = mydb.cursor()
mycursor.execute("USE spacex") 
mycursor.execute('''SELECT *
        FROM SpaceX
        WHERE LaunchSite LIKE 'CCA%'
        LIMIT 5''')
results = mycursor.fetchall()
mycursor.close()

for res in results:
    print(res)

(datetime.date(2010, 6, 4), datetime.timedelta(seconds=67500), 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)')
(datetime.date(2010, 12, 8), datetime.timedelta(seconds=56580), 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)')
(datetime.date(2012, 5, 22), datetime.timedelta(seconds=27840), 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt')
(datetime.date(2012, 10, 8), datetime.timedelta(seconds=2100), 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')
(datetime.date(2013, 3, 1), datetime.timedelta(seconds=54600), 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')

### Task 3

##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [18]:
mydb = mysql.connector.connect(
    host = 'localhost',
    username = 'root',
    password = 'root',
)
mycursor = mydb.cursor()
mycursor.execute("USE spacex") 
mycursor.execute('''
        SELECT SUM(PayloadMassKG) AS Total_PayloadMass
        FROM SpaceX
        WHERE Customer LIKE 'NASA (CRS)'
        ''')
results = mycursor.fetchall()
mycursor.close()

for res in results:
    print(res)

(Decimal('45596'),)

### Task 4

##### Display average payload mass carried by booster version F9 v1.1

In [19]:
mydb = mysql.connector.connect(
    host = 'localhost',
    username = 'root',
    password = 'root',
)
mycursor = mydb.cursor()
mycursor.execute("USE spacex") 
mycursor.execute('''
        SELECT AVG(PayloadMassKG) AS Avg_PayloadMass
        FROM SpaceX
        WHERE BoosterVersion = 'F9 v1.1'
        ''')
results = mycursor.fetchall()
mycursor.close()

for res in results:
    print(res)

(Decimal('2928.4000'),)

### Task 5

##### List the date when the first successful landing outcome in ground pad was acheived.

*Hint:Use min function*

In [20]:
mydb = mysql.connector.connect(
    host = 'localhost',
    username = 'root',
    password = 'root',
)
mycursor = mydb.cursor()
mycursor.execute("USE spacex") 
mycursor.execute('''
        SELECT MIN(Date) AS FirstSuccessfull_landing_date
        FROM SpaceX
        WHERE LandingOutcome LIKE 'Success (ground pad)'
        ''')
results = mycursor.fetchall()
mycursor.close()

for res in results:
    print(res)

(datetime.date(2015, 12, 22),)

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [22]:
mydb = mysql.connector.connect(
    host = 'localhost',
    username = 'root',
    password = 'root',
)
mycursor = mydb.cursor()
mycursor.execute("USE spacex") 
mycursor.execute('''
        SELECT BoosterVersion
        FROM SpaceX
        WHERE LandingOutcome = 'Success (drone ship)'
            AND PayloadMassKG > 4000 
            AND PayloadMassKG < 6000
        ''')
results = mycursor.fetchall()
mycursor.close()

for res in results:
    print(res)

('F9 FT B1022',)
('F9 FT B1026',)
('F9 FT  B1021.2',)
('F9 FT  B1031.2',)

### Task 7

##### List the total number of successful and failure mission outcomes

In [23]:
mydb = mysql.connector.connect(
    host = 'localhost',
    username = 'root',
    password = 'root',
)
mycursor = mydb.cursor()
mycursor.execute("USE spacex") 
mycursor.execute('''
        SELECT COUNT(MissionOutcome) AS SuccessOutcome
        FROM SpaceX
        WHERE MissionOutcome LIKE 'Success%'
        ''')
results = mycursor.fetchall()
mycursor.close()

for res in results:
    print(res)

(99,)

In [24]:
mydb = mysql.connector.connect(
    host = 'localhost',
    username = 'root',
    password = 'root',
)
mycursor = mydb.cursor()
mycursor.execute("USE spacex") 
mycursor.execute('''
        SELECT COUNT(MissionOutcome) AS SuccessOutcome
        FROM SpaceX
        WHERE MissionOutcome LIKE 'Failure%'
        ''')
results = mycursor.fetchall()
mycursor.close()

for res in results:
    print(res)

(1,)

### Task 8

##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [25]:
mydb = mysql.connector.connect(
    host = 'localhost',
    username = 'root',
    password = 'root',
)
mycursor = mydb.cursor()
mycursor.execute("USE spacex") 
mycursor.execute('''
        SELECT BoosterVersion, PayloadMassKG
        FROM SpaceX
        WHERE PayloadMassKG = (
                                SELECT MAX(PayloadMassKG)
                                FROM SpaceX
                                )
        ORDER BY BoosterVersion
        ''')
results = mycursor.fetchall()
mycursor.close()

for res in results:
    print(res)

('F9 B5 B1048.4', 15600)
('F9 B5 B1048.5', 15600)
('F9 B5 B1049.4', 15600)
('F9 B5 B1049.5', 15600)
('F9 B5 B1049.7 ', 15600)
('F9 B5 B1051.3', 15600)
('F9 B5 B1051.4', 15600)
('F9 B5 B1051.6', 15600)
('F9 B5 B1056.4', 15600)
('F9 B5 B1058.3 ', 15600)
('F9 B5 B1060.2 ', 15600)
('F9 B5 B1060.3', 15600)

### Task 9

##### List the failed landing_outcomes in drone ship, their booster versions, and launch site names for in year 2015

In [26]:
mydb = mysql.connector.connect(
    host = 'localhost',
    username = 'root',
    password = 'root',
)
mycursor = mydb.cursor()
mycursor.execute("USE spacex") 
mycursor.execute('''
        SELECT BoosterVersion, LaunchSite, LandingOutcome
        FROM SpaceX
        WHERE LandingOutcome LIKE 'Failure (drone ship)'
            AND Date BETWEEN '2015-01-01' AND '2015-12-31'
        ''')
results = mycursor.fetchall()
mycursor.close()

for res in results:
    print(res)

('F9 v1.1 B1012', 'CCAFS LC-40', 'Failure (drone ship)')
('F9 v1.1 B1015', 'CCAFS LC-40', 'Failure (drone ship)')

### Task 10

##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order

In [27]:
mydb = mysql.connector.connect(
    host = 'localhost',
    username = 'root',
    password = 'root',
)
mycursor = mydb.cursor()
mycursor.execute("USE spacex") 
mycursor.execute('''
        SELECT LandingOutcome, COUNT(LandingOutcome)
        FROM SpaceX
        WHERE DATE BETWEEN '2010-06-04' AND '2017-03-20'
        GROUP BY LandingOutcome
        ORDER BY COUNT(LandingOutcome) DESC
        ''')
results = mycursor.fetchall()
mycursor.close()

for res in results:
    print(res)

('No attempt', 10)
('Failure (drone ship)', 5)
('Success (drone ship)', 5)
('Controlled (ocean)', 3)
('Success (ground pad)', 3)
('Failure (parachute)', 2)
('Uncontrolled (ocean)', 2)
('Precluded (drone ship)', 1)

### Reference Links

*   <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01&origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01&origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01&origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*   <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log

| Date       | Version | Changed by    | Change Description        |
| ---------- | ------- | ------------- | ------------------------- |
| 2021-10-12 | 0.4     | Lakshmi Holla | Changed markdown          |
| 2021-08-24 | 0.3     | Lakshmi Holla | Added library update      |
| 2021-07-09 | 0.2     | Lakshmi Holla | Changes made in magic sql |
| 2021-05-20 | 0.1     | Lakshmi Holla | Created Initial Version   |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>